html{
   font-size: 10px;
   height: 100%;
   display: flex;
   align-items: center;
   padding: 15px;
}
body{
   width: 100%;
}
*{
   margin: 0;
   padding: 0;
}

.game{
   display: flex;
   justify-content: center;
}

.puzzle-container{
   display: flex;
   height: 80vh;
}

.sliding-puzzle{
   position: relative;
   border-radius: 1.5em;
   width: 90%;
   box-shadow: inset 0 0 0.5em #000000;
}

.cell{
   position: absolute;
   box-sizing: border-box;
   padding: 0.5em;
   font-size: 1.8rem;
   font-weight: 500;
   color: #ffffff;
   
   border-radius: 0.5em;
   text-shadow: 1.5px 1.5px 1.5px #000;
   box-shadow: inset 0 0 0.5em #000000;
   background-size: contain;
   
   user-select: none;
   transition: all ease-in-out 0.3s;
   cursor: pointer;

   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

.empty{
   position: absolute;
}

.timing{
   margin-left: 1.5em;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}
.timing > div {
   height: 48%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.timing-icon{
   margin-bottom: 10px;
}
.timing-icon > img{
   width: 30px;
   padding: 1px;
}
.icon-darked{
   padding: 0.25em;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0.5em;
   background-color: saddlebrown;
   box-shadow: inset 0 0 2.5em #000000;

}

.progress{
   position: relative;
   width: 25px !important;
   height: 90% !important;
}
.progress-bar{
   position:absolute;
   bottom: 0%; 
   width: 100%;
   height: 100%;
}
.timing-text{
   width: auto;
   writing-mode: vertical-rl;
   text-orientation: mixed;
   font-size: 17px;
   text-align: center;
   z-index: 3;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.options-container{
   height: max-content;
   flex-basis: 28%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.puzzle-image{
   width: 100%;
   border-radius: 1em;
}

.options{
   width: 100%;
   margin-top: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: space-between;
}
.option{
   flex-basis: 48%;
   flex-direction: column;
   align-items: space-between;
   margin-bottom: 1em;
}
.option>img{
   width: 25px;
   margin-bottom: 5px;
}
.option>p{
   color: #ffffff;
   font-size: 1.4rem;
   line-height: 1em;
   margin: 0;
}


@media(max-width:1024px) {
   html {
      padding: 10px;
   }
   .game {
      width: 100%;
      justify-content: space-between;
   }
   .puzzle-container {
      height: unset;
      flex-basis: 68%;
   }
}
@media(max-width:414px) {
   html {
      padding: 5px;
   }
   .game {
      width: 100%;
      flex-direction: column-reverse;
   }
   .puzzle-container {
      flex-basis: 100%;
   }
   .cell {
      font-size: 12px;
   }
   .progress{
      width: 20px !important;
   }
   .timing-text {
      font-size: 14px;
   }
   .timing {
      margin-left: 5px;
   }
   .timing-icon > img{
      width: 18px;
      padding: 2px;
   }
   .timing-icon{
      margin-bottom: 5px;
   }
   .puzzle-image{
      display: none;
   }
   .option{
      flex-basis: 23%;
   }
   .option>img{
      width: 20px;
      margin-bottom: 3px;
   }
}